#linksAndImages {
  text-align: center;
}
#typography1 {
  font-size: 14vmin;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#info {

background-color: aquamarine;

}

#first_line {

  color: black;
  font-weight: 700;
}



#summary {

background-color: coral;
color: blue;

}

.lists {
  background-color: blueviolet;
}

body {
 font-size: 16;
 color: rgb(210, 12, 12);
 font-family: 'Courier New', Courier, monospace;
 background-color: rgb(67, 67, 163);
 text-align: center;
}

H1 {
  font-weight: bold;
  font-style: italic;
}

.Header {
  border: 1px solid red;
}

p.thick {
  font-weight: bold;
}

.trial1 {
  font-size: 15;
  font-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





