#linksAndImages {
  text-align: center;
}
#typography1 {
  font-size: 14vmin;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.lists {
  background-color: blueviolet;
}

body {

 
 font-size: 12;
 font-family: 'Courier New', Courier, monospace;
 background-color: blue;
}


.Header {
  border: 1px solid red;
}

p.thick {
  font-weight: bold;
}

.trial1 {

  font-size: 15;
  font-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





